* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: url(./images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    font-family: "Poppins", sans-serif;
}



header img {
    width: 225px;
    margin: 3rem 0 1rem 7.5rem;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hero {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img img {
    
    margin: 2rem 0 0 3rem;
}

.hero-content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

h1 {
    color: hsl(0, 0%, 100%);
    font-size: 50px;
    font-weight: 600;
    width: 35rem;
    margin: 3rem 0 2rem 4rem;
}

p {
    color: hsla(0, 0%, 100%, 0.808);
    font-size: 20px;
    margin: 0 0 0 4rem;
    width: 35rem;
}

a {
    background-color: hsl(0, 0%, 100%);
    color: hsl(257, 40%, 49%);
    font-size: 18px;
    padding: 1rem 4rem;
    margin: 2rem 0 0 4rem;
    border-radius: 25px;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    background-color: hsl(300, 69%, 71%);
    color: hsl(0, 0%, 100%);
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

i {
    color: hsl(0, 0%, 100%);
    margin: 0 1rem 2rem 0;
}

i:hover {
    color:hsl(300, 69%, 71%);
}

.fa-instagram {
    margin-right: 10rem;
}

@media (max-width: 375px){
    body {
        width: 375px;
        height: auto;
        background-image: url(./images/bg-mobile.svg);
    }

header {
    height: 20%;
    width: 100%;
}

header img {
    width: 140px;
    margin: 3rem 0 3rem 2rem;
}



.hero {
    width: 100%;
    height: 60%;
    flex-direction: column;
    text-align: center;
}

.hero-img {
    width: 100%;
    height: 50%;
    margin-bottom: 1rem;
}

.hero-img img {
    width: 300px;
    margin: 0;
}

.hero-content {
    width: 100%;
    height: 50%;
    align-items: center;  
}

h1 {
    font-size: 25px;
    width: 20rem;
    margin: 3rem 0 1rem;
}

p {
    font-size: 16px;
    margin: 0;
    width: 20.5rem;
}

a {
    font-size: 13px;
    padding: .7rem 5rem;
    margin: 2rem 0 4rem 0;
}

footer {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    margin: 0 1rem 0 0;
}

.fa-instagram {
    margin-right: 0;
}

}


